[push]
	default = simple
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[log]
	abbrevCommit = true
[format]
	pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
	excludesfile = ~/.gitignore_global
[include]
    path = ~/.gitconfig_user
[pull]
    rebase = false
[user]
	name = Ivan Kerin
	email = ikerin@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
